* {
    scroll-behavior: smooth;
}

*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 10s all;
}

*::-webkit-scrollbar {
    width: 0.45rem;
    background-color: #282c34;
}

*::-webkit-scrollbar-thumb {
    background-color: #171923;
    border-radius: 3px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*:focus {
    box-shadow: none !important;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

canvas:hover {
    cursor: grab;
}